/build
/output
/*.project
/*.txt
/.gradle
/bin
/saves
/screenshots
/mods
/logs
/*.log
/config
/*.launch
/world
/server.properties
.DS_Store
/.classpath
/.settings
/eclipse
/*.json
/run
/crash-reports
/servers.dat
/gradle.bat